.sectionContainer {
    width: 100%;

    header {
        h2 {
            text-align: center;
            padding: 1rem 0;
            font-weight: 400;
            font-size: 3rem;
            color: white;
        }
    }

    figure {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 2rem;

        div {
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                width: 80%;
            }
        }

        section {
            width: 80%;
            margin: 0 auto;

            h3 {
                color: white;
                margin: 40px auto;
                font-size: 1.3rem;
            }

            ul {
                list-style: disc;

                li {
                    margin: 30px 40px;
                    color: white;
                }
            }

            p {
                display: flex;
                justify-content: end;
                a {
                    color: white;
                    font-weight: 700;
                }
            }
        }
    }
}

.sectionSpacer {
    width: 100%;
}

@media (max-width: 800px) {
    .sectionContainer {
        figure {
            grid-template-columns: 1fr;

            div {

                img {
                    position: static;
                    translate: 0 0;
                    margin: auto;
                    width: 40%;
                }
            }
        }
    }
}