.headerContainer {
    width: 100vw;
    position: relative;

    .headerBg {
        width: 100%;
    }

    .headerLogo {
        position: absolute;
        left: 1rem;
        top: 1rem;
    }

    div {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 60%;

        p {
            text-align: end;
            font-size: 2rem;
            color: #8fa7bf;
            font-style: italic;
            margin: 2rem;
        }
    }


}