.headerContainer {
    width: 100%;
    position: relative;

    .headerBg {
        width: 100%;
    }

    .headerLogo {
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 70%;
    }

    div {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 70%;

        p {
            text-align: end;
            font-size: 2vw;
            color: #8fa7bf;
            font-style: italic;
            margin: 1rem 2rem;
        }
    }
}

@media (max-width: 900px) {
    .headerContainer div {
        left: 0;

        p {
            text-align: left;
        }
    }
}